################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea/*
/.vs/*
*.http
bin
obj
/WebAPI/appsettings.Development.json
/WebAPI/appsettings.Development.json
/WebAPI/appsettings.Development.json
/Backlog.md
